<div class="titulo">
    <h1>Carlos Francisco Portillo Herández</h1>
    </div>
    
    <h2>Web Designer Front End</h2>
    
    <div>
      <img id="foto" src="" alt="foto" width="150" height="200">
    </div>
    
    <div class="datos">
      <div>
        <i class="fas fa-envelope"></i> 
        <i class="fas fa-thumbtack"></i>
      </div>
        <ul>
            <li> carlosportillo308@gmail.com </li>
            <li> Lima,Perù </li>
        </ul>
    </div>
    
    <div class="redes">
          <a href="https://www.linkedin.com/in/carlos-portillo-027270259/">
            <img src="assets/img/linkedin.png" alt="linkedin" width="38" height="38">
          </a>
          <a href="https://github.com/CFPH31415">
            <img src="assets/img/github.png" alt="github" width="38" height="38">
          </a>
    </div>
    
    <section class="perfil">
      <h2>Perfil</h2>
      <p>
        
      </p>
    </section>