
    <div class="wrap-inferior">
      <div class="skills">
          <div class="banner">Conocimientos</div>
          <ul>
              <li>Angular</li>
              <li>Javascript </li>
              <li>CSS</li>
              <li>HTML</li>
              <li>Balsamiq</li>
              <li>MongoDB</li>
              <li>Bootstrap</li>
          </ul>
      </div>
      <div class="idiomas">
          <div class="banner">Idiomas</div>
          <ul>
              <li>Inglés</li>
              <li>Español </li>
          </ul>
      </div>
      <div class="educacion">
          <div class="banner">Educación</div>
          <ul>
              <li>
                  <span>Certus</span>
              </li>
              <li>
                  <span>Inglés avanzado en Idiomas Católica</span>
              </li>
          </ul>
      </div>  
  </div>